<div id="{{& id }}" aria-labelledby="{{& id }}-label">
	<h3 id="{{& id }}-label">{{ label }}</h3>
	<ul class="unstyled-list">
		{{# array-items }}
			<li id="{{ id }}">{{& html }}</li>
		{{/ array-items }}
	</ul>
</div>
