<nav id="p-personal" aria-labelledby="p-personal-label">
	<h3 id="p-personal-label">{{ msg-personaltools }}</h3>
	<div class="mirage-dropdown-container personaltools-dropdown" tabindex="0">
		<h4 class="dropdown-header {{ html-username-icon-classes }}">
			<span class="mirage-username">
				{{# is-anon }}
					{{ msg-notloggedin }}
				{{/ is-anon }}
				{{^ is-anon }}
					{{ username }}
				{{/ is-anon }}
			</span>
			{{& html-dropdown-indicator }}
		</h4>
		<div class="dropdown-list dropdown-hide">
			<ul {{& html-user-language-attributes }}>
				{{# array-personal-tools }}
					{{& . }}
				{{/ array-personal-tools }}
			</ul>
			<div class="dropdown-list-anchor"></div>
		</div>
	</div>
	{{# is-echo }}
		{{^ is-anon }}
			<div class="mirage-echo-wrapper mirage-notifications-area">
				<ul class="unstyled-list">
					{{# array-echo-icons }}
						{{& . }}
					{{/ array-echo-icons }}
				</ul>
			</div>
		{{/ is-anon }}
	{{/ is-echo }}
	{{^ is-echo }}
		<div class="mirage-notifications-wrapper mirage-notifications-area mirage-dropdown-container" tabindex="0">
			<div class="mirage-notifications-icon">
				{{& html-notifications-icon }}
				{{& html-dropdown-indicator }}
			</div>
			<div class="dropdown-list dropdown-hide">
				<ul>
					{{# html-user-message }}
						<li>{{& . }}</li>
					{{/ html-user-message }}
					{{^ html-user-message }}
						<li><div class="mirage-no-new-messages">{{ msg-mirage-no-new-messages }}</div></li>
					{{/ html-user-message }}
				</ul>
				<div class="dropdown-list-anchor"></div>
			</div>
		</div>
	{{/ is-echo }}
</nav>
