@import '../mirage.less/mirage.variables.less';

#p-personal .skin-mirage-personaltools-dropdown .skin-mirage-avatar-holder {
	vertical-align: text-top;
	margin-right: 5px;
	margin-top: 0.25rem;

	&,
	&::before {
		height: (@fixed-header-content-height - 1rem);
		width: (@fixed-header-content-height - 1rem);
	}

	&::before {
		margin: 0;
	}
}
