@import 'mediawiki.mixins.animation.less';

@rotation: 30deg;

.animation-bell-ring() {
	.animation( 3.5s infinite normal bellRing );
}

@keyframes bellRing {
	0%,
	46%,
	100% {
		transform: rotate( 0deg );
		-webkit-transform: rotate( 0deg );
	}

	52%,
	64%,
	76%,
	88% {
		transform: rotate( @rotation );
		-webkit-transform: rotate( @rotation );
	}

	58%,
	70%,
	82%,
	94% {
		transform: rotate( -@rotation );
		-webkit-transform: rotate( -@rotation );
	}
}

@-moz-keyframes bellRing {
	0%,
	46%,
	100% {
		-moz-transform: rotate( 0deg );
	}

	52%,
	64%,
	76%,
	88% {
		-moz-transform: rotate( @rotation );
	}

	58%,
	70%,
	82%,
	94% {
		-moz-transform: rotate( -@rotation );
	}
}

@-webkit-keyframes bellRing {
	0%,
	46%,
	100% {
		-webkit-transform: rotate( 0deg );
	}

	52%,
	64%,
	76%,
	88% {
		-webkit-transform: rotate( @rotation );
	}

	58%,
	70%,
	82%,
	94% {
		-webkit-transform: rotate( -@rotation );
	}
}
